@tailwind base;
@tailwind components;
@tailwind utilities;

@import "easymde/dist/easymde.min.css";
@import "sceditor/minified/themes/default.min.css";

.editor-panel .EasyMDEContainer,
.editor-panel .CodeMirror {
    border-radius: 0.5rem;
}

.editor-panel textarea {
    width: 100%;
    border-radius: 0.5rem;
}

.is-hidden {
    display: none;
}
